@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
	
	font-family: Roboto;
}

html{
  scroll-behavior: smooth;
}

.content{
 color: black;
}
.cursor{
  position: fixed;
  width: 23px;
  height: 23px;
  background: black;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  border: 2px solid white;
 }

 .header {
 	transition: visibility 0s, opacity 0.5s linear;
 }

.hover:hover{
  transform: scale(1.02)!important;
  transition: .3s;
  
}

.montserrat{
	font-family: Montserrat;
}

.cream{
  background-color: #F6F5EC;
}

.abu{
  background-color: #393D3B;
}

.ijo{
  background-color: #A9D8BD;
}

.hero{
  background-image: url("./asset/img/hero 1.png");
  transition: .8s;
}

